**/bin/
**/obj/
**/__pycache__/
.idea/
.vs/
# Environment variables
.env
.env.*
!.env.example

*.log
week-1-public-report.json 
week-2-public-report.json
# VS Code
.vscode/
*.code-workspace

# Mac OS
.DS_Store

# Node.js (если есть)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Java (если есть)
*.class
*.jar
*.war
*.ear
target/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml